# The DATABASE_URL and SHADOW_DATABASE_URL values come from your PlanetScale database.
# They will be in the following form:
# 
# mysql://<user>@<address>:<port>/<database>
# 
# - user — the database user
# - address — the local address returned in the previous step
# - port — the port you specified in the previous step
# - database — the name of your database

DATABASE_URL=
SHADOW_DATABASE_URL=

NEXTAUTH_URL=
# Navigate to https://generate-secret.now.sh/32 to generate a secret for the variable below.
NEXTAUTH_SECRET=

# This is not required, only an example of using NextAuth.js with GitHub as a provider
# See more documentation here: https://next-auth.js.org/providers/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
